[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/kethernftpublisher"]
	path = lib/kethernftpublisher
	url = https://github.com/thousandetherhomepage/kethernftpublisher
