<title><%= htmlWebpackPlugin.options.title %></title>
<link rel="stylesheet" href="/css/base.css" />
<link rel="shortcut icon" type="image/png" href="/img/icon-32px.png" />
<base target="_blank" />
<meta charset="utf-8" />
