<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <%- include _head %>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' www.google-analytics.com *.infura.io 'sha256-+sCl9Qql+R8YqZtXTlyGMX9tUQ4mv7hOO5/UAaZ5g9Y='; connect-src *.infura.io storage.thousandetherhomepage.com http://127.0.0.1:8545/rpc/; style-src 'self' 'unsafe-inline'; img-src * data:;" />
    -->
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://thousandetherhomepage.com"/>
    <meta property="og:title" content="The Thousand Ether Homepage" />
    <meta property="og:description" content="The Million Dollar Homepage as an Ethereum Smart Contract and DApp: A glimpse into what the future of web integrated with modern blockchain technology could be like." />
    <meta property="og:image" content="https://storage.thousandetherhomepage.com/mainnet.png" />
  </head>
  <body>
    <div id="app" class="container">
      <header>
        <h1>The Thousand Ether Homepage</h1>
        <h2>1,000,000 pixels &middot; 0.001 ETH per pixel &middot; Own a piece of blockchain history!</h2>
      </header>

      <div class="adGrid"></div>

    <%- include _footer %>
    </div>
    <a href="https://tawk.to/chat/5a0877a8bb0c3f433d4c8bb9/default/?$_tawk_popout=true" rel="nofollow" title="Need help? Chat with us">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 36 32" id="floating-chat" alt="Chat with us">
        <path d="M34 28.161c0 1.422 0.813 2.653 2 3.256v0.498c-0.332 0.045-0.671 0.070-1.016 0.070-2.125 0-4.042-0.892-5.398-2.321-0.819 0.218-1.688 0.336-2.587 0.336-4.971 0-9-3.582-9-8s4.029-8 9-8c4.971 0 9 3.582 9 8 0 1.73-0.618 3.331-1.667 4.64-0.213 0.463-0.333 0.979-0.333 1.522zM16 0c8.702 0 15.781 5.644 15.995 12.672-1.537-0.685-3.237-1.047-4.995-1.047-2.986 0-5.807 1.045-7.942 2.943-2.214 1.968-3.433 4.607-3.433 7.432 0 1.396 0.298 2.747 0.867 3.993-0.163 0.004-0.327 0.007-0.492 0.007-0.849 0-1.682-0.054-2.495-0.158-3.437 3.437-7.539 4.053-11.505 4.144v-0.841c2.142-1.049 4-2.961 4-5.145 0-0.305-0.024-0.604-0.068-0.897-3.619-2.383-5.932-6.024-5.932-10.103 0-7.18 7.163-13 16-13z"></path>
      </svg>
    </a>
    <%- include _analytics %>
    <script src="js/build.js"></script>
  </body>
</html>
